.nav-links {
    color:white; 
    } 
    
    .nav-links:hover {
        color:#f26a2e;
        border-bottom: 3px solid #f26a2e;
    }
 .navbar
 {
     background-color: black;
     color:white;
 }   



    img:hover{
        filter: brightness(100%);
      } 
.button{
    background-color:"#f26a2e";
}
/* Container 
{
    max-width: 1700px;
} */
.sticky-nav{    
	position:sticky;
	top: 0;
}
Navbar{
    margin-top: 0%;
}

.navpad{
    padding:0 5%;
}